#header {
    width: 1263px;
    height: 30px;
    background-color: #f5f5f5;
    .main {
        height: 30px;
        margin: 0 auto;
        .leftflo_1 {
            width: 50%;
            height: 30px;
            float: left;
            line-height: 30px;
            .leftflo {
                font-size: 12px;
                .leftflo_a-1 {
                    font-weight: 400px;
                    margin: 0 5px;
                }
                a {
                    color: #37a0db;
                    span {
                        margin-left: 5px;
                        color: #ccc;
                    }
                }
            }
        }
        .rightflo {
            width: 296px;
            height: 30px;
            float: right;
            li {
                font-size: 12px;
                line-height: 30px;
                float: left;
                margin: 0 5px;
                color: #37a0db;
                span {
                    margin-left: 5px;
                    color: #ccc;
                }
            }
            li:hover {
                color: #FFCC00;
            }
        }
    }
}

.search_bar {
    width: 1263px;
    height: 100px;
    .container {
        .logo_left {
            margin-top: 20px;
            width: 280px;
            height: 60px;
            float: left;
            background: url(../images/logo.gif)no-repeat;
        }
        .control_left {
            position: relative;
            float: left;
            margin-left: 20px;
            width: 600px;
            height: 80px;
            .form_panel {
                margin-top: 25px;
                height: 30px;
                width: 600px;
                border-color: #37a0db;
                input {
                    height: 30px;
                    width: 510px;
                    border: 3px solid #37a0db;
                    box-sizing: border-box;
                    vertical-align: middle;
                }
                button {
                    background-color: #37a0db;
                    height: 30px;
                    width: 90px;
                    border: none;
                    box-sizing: border-box;
                    vertical-align: middle;
                }
            }
            ul {
                position: absolute;
                left: -14px;
                padding: 4px 0 0;
                width: 600px;
                height: 20px;
                li {
                    font-size: 12px;
                    color: #ccc;
                    font-family: "Microsoft YaHei";
                    float: left;
                    border-right: 1px solid #ccc;
                    display: inline-block;
                    line-height: 1.1;
                    padding: 0 12px;
                }
                .form_panel_last_li {
                    border: none;
                }
                li:hover {
                    color: #FFCC00;
                }
            }
        }
        .hottline_right {
            margin-top: 25px;
            width: 210px;
            height: 70px;
            float: right;
            background: url(../images/iphones.png)no-repeat;
        }
    }
}

.navbar {
    width: 1263px;
    height: 40px;
    position: relative;
    background-color: #37a0db;
    .nav {
        height: 40px;
        .contegory_left {
            float: left;
            width: 240px;
            height: 40px;
            background-color: #ff3f72;
            box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
            h4 {
                color: #fff;
                cursor: pointer;
                font-size: 18px;
                height: 40px;
                line-height: 40px;
                padding-left: 25px;
                position: relative;
            }
            .contegory_menus {
                display: none;
                position: absolute;
                width: 240px;
                height: 482px;
                box-shadow: 5px 5px 10px rgba(55, 55, 55, 0.4);
                float: left;
                background: #ff5a85;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        border-bottom: 1px dotted #FFFFFF;
                        color: #FFFFFF;
                        height: 40px;
                        line-height: 40px;
                        margin: 0 25px;
                        overflow: hidden;
                        .contegory_menus_a {
                            position: relative;
                            font-size: 14px;
                            margin-left: 10px;
                            color: #FFFFFF;
                        }
                        .contegory_menus_tjdh {
                            position: absolute;
                            left: 240px;
                            top: 0;
                            width: 690px;
                            height: 480px;
                            display: none;
                            background-color: white;
                            .tags_bd {
                                z-index: 1000;
                                width: 690px;
                                h5 {
                                    color: red;
                                    display: inline-block;
                                    float: left;
                                    line-height: 24px;
                                    margin: 5px 0px;
                                    padding-right: 10px;
                                    text-align: right;
                                    width: 120px;
                                }
                                p {
                                    display: block;
                                    float: left;
                                    margin: 5px 0px;
                                    width: 560px;
                                    border-bottom: 1px dotted #cdcdcd;
                                    a {
                                        display: inline;
                                        color: #999;
                                        line-height: 24px;
                                        font-size: 12px;
                                        border-left: 1px solid #ccc;
                                        padding: 0px 10px;
                                    }
                                    a:hover {
                                        color: gold;
                                    }
                                }
                            }
                        }
                        .contegory_menus_a:hover {
                            display: block;
                            position: absolute;
                            left: -10px;
                            width: 240px;
                            height: 40px;
                            padding-left: 33px;
                            background-color: white;
                            color: black;
                        }
                    }
                    li:hover .contegory_menus_tjdh {
                        display: block;
                    }
                }
            }
        }
        .lists_left {
            float: left;
            width: 960px;
            height: 40px;
            li {
                float: left;
                color: #FFF;
                padding-left: 3px;
                width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
            }
            .lists_left_li {
                color: #ff3f72;
            }
            li:hover {
                background-color: #1D83CA;
                ;
            }
        }
    }
}


/*中间商家店铺介绍开始的位置*/

.search_body {
    width: 1263px;
    .main_box {
        .main_box_title {
            padding: 15px 0 12px;
            color: #333;
            background-color: #FBFBFB;
            margin: 0 auto;
            border-bottom: solid 1px #e7e7e7;
            height: 47px;
            font-size: 14px;
        }
        .search_fiiter {
            background: #fff;
            overflow: hidden;
            margin-bottom: 10px;
            .search_fiiter_child_1 {
                overflow: hidden;
                border-bottom: DOTTED 1px #DAD7D7;
                position: relative;
                height: 61px;
                .fiiter_1 {
                    background-color: #F7F5F5;
                    width: 100px;
                    height: 100%;
                    line-height: 54px;
                    font-size: 12px;
                    float: left;
                    padding-left: 50px;
                }
                .fiiter_1_ul {
                    float: left;
                    float: left;
                    overflow: hidden;
                    width: 1000px;
                    margin-left: 10px;
                    margin-top: 4px;
                    padding-top: 1px;
                    margin-bottom: 4px;
                    li {
                        margin-left: 4px;
                        margin-right: 4px;
                        float: left;
                        width: 104px;
                        text-align: center;
                        height: 52px;
                        line-height: 52px;
                        overflow: hidden;
                        border: 1px solid #e1e1e1;
                        margin: -1px -1px 0 0;
                        a {
                            padding: 0;
                            line-height: 52px;
                            height: 50px;
                            width: 102px;
                            overflow: hidden;
                            border: 1px solid transparent;
                            float: left;
                        }
                    }
                    li:hover {
                        margin-left: 4px;
                        margin-right: 4px;
                        padding-left: 4px;
                        padding-right: 20px;
                        border: 1px solid #FFCC00;
                    }
                }
            }
            .search_fiiter_child_2 {
                overflow: hidden;
                border-bottom: DOTTED 1px #DAD7D7;
                position: relative;
                height: 76px;
                .fiiter_2 {
                    background-color: #F7F5F5;
                    width: 100px;
                    height: 100%;
                    line-height: 54px;
                    font-size: 12px;
                    float: left;
                    padding-left: 50px;
                }
                .fiiter_2_ul {
                    float: left;
                    float: left;
                    overflow: hidden;
                    width: 1000px;
                    margin-left: 10px;
                    margin-top: 4px;
                    padding-top: 1px;
                    margin-bottom: 4px;
                    li {
                        float: left;
                        margin: 4px 10px 7px 0;
                        display: inline;
                        white-space: nowrap;
                        width: 130px;
                        overflow: hidden;
                        background: 0;
                        height: 22px;
                        a {
                            font-size: 12px;
                            color: #666;
                            height: 22px;
                            line-height: 22px;
                            display: inline-block;
                            padding: 0 10px;
                            zoom: 1;
                            overflow: hidden;
                        }
                        a:hover {
                            color: #37A0DB;
                        }
                    }
                }
            }
            .search_fiiter_child_3 {
                overflow: hidden;
                border-bottom: DOTTED 1px #DAD7D7;
                position: relative;
                height: 47px;
                .fiiter_3 {
                    background-color: #F7F5F5;
                    width: 100px;
                    height: 100%;
                    line-height: 47px;
                    font-size: 12px;
                    float: left;
                    padding-left: 50px;
                }
                .fiiter_3_ul {
                    float: left;
                    float: left;
                    overflow: hidden;
                    width: 1000px;
                    margin-left: 10px;
                    margin-top: 4px;
                    padding-top: 1px;
                    margin-bottom: 4px;
                    li {
                        font-size: 12px;
                        color: #666;
                        line-height: 30px;
                        float: left;
                        margin: 4px 10px 7px 0;
                        display: inline;
                        white-space: nowrap;
                        width: 120px;
                        overflow: hidden;
                        background: 0;
                        height: 22px;
                    }
                    li:hover {
                        color: #37A0DB
                    }
                }
            }
        }
    }
    .search_list_header {
        background: #FFF;
        height: 34px;
        font-size: 12px;
        overflow: hidden;
        color: #666;
        z-index: 300;
        margin: 0 auto;
        width: 1200px;
        border: 1px solid #e7e7e7;
        border-top: 1px dotted #e7e7e7;
        .slh_laber {
            float: left;
            height: 34px;
            display: inline;
            line-height: 34px;
            width: 64px;
            text-align: center;
            margin-left: 8px;
            color: #333;
            border-right: 1px solid #e7e3e3;
        }
        ul {
            float: left;
            height: 34px;
            display: inline;
            line-height: 34px;
            text-align: center;
            margin-left: 8px;
            color: #333;
            li {
                float: left;
                display: inline;
                width: 64px;
                border-right: 1px solid #e7e3e3;
            }
        }
    }
    .goods {
        height: 1608px;
        ul {
            z-index: -1000;
            li {
                margin-bottom: 5px;
                width: 235px;
                height: 387px;
                border: 1px solid #EFEFEF;
                float: left;
                margin-right: 5px;
                font-size: 14px;
                display: inline-block;
                overflow: hidden;
                img {
                    width: 235px;
                    height: 300px;
                }
                img:hover {
                    padding-left: 5px;
                }
                .cnxh_1 {
                    font-size: 12px;
                    margin-top: 10px;
                    color: #37a0db;
                }
                .cnxh_1_1 {
                    font-size: 15px;
                    margin-top: 6px;
                    color:#f6ab00 ;
                }
                .cnxh_2 {
                    font-size: 18px;
                    margin-top: 10px;
                    color: #f6ab00;
                }
            }
        }
    }
}


/*尾部开始的位置*/

.footerdiv {
    width: 1263px;
    height: 394px;
    background-color: white;
}

.footerdiv .footer_wrap {
    height: 142px;
    padding: 40px 0 10px;
    width: 100%;
}

.footerdiv .footer_wrap .footer_nav {
    background: url(../images/footer.png)-500px 0 no-repeat;
    height: 144px;
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}

.footerdiv .footer_wrap .footer_nav ul li {
    float: left;
}

.footerdiv .footer_wrap .footer_nav .footer_nav_first {
    padding-left: 98px;
}

.footerdiv .footer_wrap .footer_nav dl dt {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 0;
    line-height: 1.42857142;
}

.footerdiv .footer_wrap .footer_nav dl dd {
    color: #999;
    font-size: 12px;
    line-height: 22px;
}

.footerdiv .footer_wrap .footer_nav dl dd a {
    color: #999;
}

.footerdiv .footer_s {
    min-width: 1200px;
    height: 54px;
    background-color: #3b87ee;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 20px 0 35px;
}

.footerdiv .footer_s .foot-er {
    width: 1200px;
    margin: 0 auto;
}

.footerdiv .footer_s .s1 {
    width: 338px;
    background-position: 0 1px;
}

.footerdiv .footer_s a {
    float: left;
    height: 46px;
    background: url(../images/footer.png) no-repeat;
    text-indent: -100%;
    overflow: hidden;
}

.footerdiv .footer_s .s2 {
    margin-left: 41px;
    width: 470px;
    background-position: 0 -44px;
}

.footerdiv .footer_s .s3 {
    margin-left: 41px;
    width: 310px;
    background-position: 0 -92px;
}

.footerdiv .footer {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 5px 0 20px;
}

.footerdiv .footer p {
    line-height: 25px;
    color: #999;
    font-size: 13px;
    font-family: "微软雅黑";
    margin-bottom: 0;
    margin-top: 0;
}

.footerdiv .footer p a {
    width: 51.55px;
    height: 16px;
    color: #999;
    border-right: solid 1.4px;
}

.footerdiv .footer p .la {
    border: none;
}

.footerdiv .footer p .p_la {
    border: none;
}